@font-face {
  font-family: 'Gothampro';
  src: url('../fonts/gothampro.eot');
  src: local('☺'), url('../fonts/gothampro.woff') format('woff'), url('../fonts/gothampro.ttf') format('truetype'), url('../fonts/gothampro.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: 10px;
  font-family: 'Gothampro', sans-serif;
}
.container{
  max-width: 1440px;
  padding: 0 25px;
  margin:0 auto;
}


@media screen and (max-width: 1200px){
}
@media screen and (max-width: 992px){
}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 576px){
}
@media screen and (max-width: 320px){

}